<a href="https://colab.research.google.com/github/seo0501/python-study/blob/main/04.%20%EC%9E%85%EC%B6%9C%EB%A0%A5/04_1_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 함수의 구조

In [ ]:
def add(a, b):
  return a + b

a = 3
b = 4
c = add(a, b)
print(c)

7

# 파이썬 함수의 구조

In [ ]:
def add(a, b):
  return a+b

a = 3
b = 4
c = add(a, b)
print(c)

7

매개변수: 함수에 입력으로 전달된 값을 받는 변수  
인수: 함수를 호출할 때 전달하는 입력값

In [ ]:
print(add(3, 4))

7

# 입력값과 결괏값에 따른 함수의 형태

In [ ]:
# 입력값이 있고 결괏값이 있는 함수
def add(a, b):
  result = a + b
  return result

a = add(3, 4)
print(a)

7

In [ ]:
# 입력값이 없는 함수
def say():
  return 'Hi'

a = say()
print(a)

Hi

In [ ]:
# 결괏값이 없는 함수
def add(a, b):
  print("%d, %d의 합은 %d입니다" %(a, b, a+b))

add(3, 4)

3, 4의 합은 7입니다

In [ ]:
# 입력값도 결괏값도 없는 함수
def say():
  print('Hi')

say()

Hi

# 매개변수 지정하여 호출하기

In [ ]:
def add(a, b):
  return a + b

result = add(a=3, b=7)
print(result)

10

In [ ]:
# 순서에 상관없이 사용할 수 있음
result = add(b=5, a=3)
print(result)

8

# 입력값이 몇 개가 될지 모를 때는 어떻게 해야할까?

In [ ]:
def add_many(*args):
  result = 0
  for i in args:
    result = result + i
  return result

In [ ]:
result = add_many(1, 2, 3)
print(result)

result = add_many(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(result)

6
55

In [ ]:
def add_mul(choice, *args):
  if choice == "add":
    result = 0
    for i in args:
      result = result + i
  elif choice == "mul":
    result = 1
    for i in args:
      result = result * i
  return result

15

In [ ]:
result = add_mul('add', 1,2,3,4,5)
print(result)

result = add_mul('mul', 1,2,3,4,5)
print(result)

15
120

In [ ]:
def print_kwargs(**kwargs):
  print(kwargs)

print_kwargs(a=1)
print_kwargs(name = 'foo', age = 3)

{'a': 1}
{'name': 'foo', 'age': 3}

# 함수의 결괏값은 언제나 하나이다

In [ ]:
def add_and_mul(a, b):
  return a+b, a*b

result = add_and_mul(3, 4)
print(result)

(7, 12)

In [ ]:
result1, result2 = add_and_mul(3, 4)
print(result1, result2)

7 12

In [ ]:
def add_and_mul(a, b):
  return a+b
  return a*b # 이 문장은 실행되지 않는다

result = add_and_mul(2, 3)
print(result)

5

In [ ]:
def say_nick(nick):
  if nick == "바보":
    return
  print("나의 별명은 %s입니다" %nick)

say_nick('야호')
say_nick('바보')

나의 별명은 야호입니다

# 매개변수에 초깃값 미리 설정하기

In [ ]:
def say_myself(name, old, man=True):
  print("나의 이름은 %s입니다." % name)
  print("나이는 %d살입니다." % old)
  if man:
    print("남자입니다.")
  else:
    print("여자입니다.")

In [ ]:
say_myself("박응용", 27)
say_myself("박응용", 27, True)

나의 이름은 박응용입니다.
나이는 27살입니다.
남자입니다.
나의 이름은 박응용입니다.
나이는 27살입니다.
남자입니다.

In [ ]:
say_myself("박용선", 27, False)

나의 이름은 박용선입니다.
나이는 27살입니다.
여자입니다.

초깃값을 설정해 놓은 매개변수 뒤에 설정해 놓지 않은 매개변수는 사용할 수 없다.  
초기화시키고 싶은 매개변수는 항상 뒤쪽에 놓아야 한다.

# 함수 안에서 선언한 변수의 효력 범위

In [ ]:
a = 1
def vartest(a):
  a = a+1

vartest(a)
print(a)

1

In [ ]:
a = 1
def vartest(a):
  a = a+1
  return a

a = vartest(a)
print(a)

2

In [ ]:
a = 1
def vartest(a):
  global a
  a = a + 1

vartest()
print(a)

SyntaxError: ignored

# lambda

lambda 매개변수1, 매개변수2, ... : 매개변수를 사용한 표현식

In [ ]:
add = lambda a, b: a+b
result = add(3, 4)
print(result)

7

In [ ]:
def add(a, b):
  return a+b

result = add(3, 4)
print(result)

7