<a href="https://colab.research.google.com/github/seo0501/python-study/blob/main/02.%EC%9E%90%EB%A3%8C%ED%98%95/02_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 리스트는 어떻게 만들고 사용할까

In [ ]:
a = []                                # 비어있는 리스트
b = [1, 2, 3]                         # 숫자를 요솟값으로 가짐
c = ['Life', 'is', 'too', 'short']    # 문자열을 요솟값으로 가짐
d = [1, 2, 'Life', 'is']              # 숫자와 문자열을 함께 요솟값으로 가짐 
e = [1, 2, ['Life', 'is']]            # 리스트 자체를 요솟값으로 가짐

# 리스트의 인덱싱과 슬라이싱

In [2]:
# 리스트의 인덱싱
a = [1, 2, 3]
print(a[0])
print(a[0] + a[2])
print(a[-1])

1
4
3

In [4]:
a = [1, 2, 3, ['a', 'b', 'c']]
print(a[0])
print(a[-1])
print(a[3])
print(a[3][0])

1
['a', 'b', 'c']
['a', 'b', 'c']
a

In [5]:
a = [1, 2, ['a', 'b', ['Life', 'is']]]
print(a[2][2][0])

Life

In [6]:
# 리스트의 슬라이싱
a = [1, 2, 3, 4, 5]
print(a[0:2])

[1, 2]

In [7]:
b = a[:2]
c = a[2:]
print(b)
print(c)

[1, 2]
[3, 4, 5]

In [8]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
print(a[2:5])
print(a[3][:2])

[3, ['a', 'b', 'c'], 4]
['a', 'b']

# 리스트 연산하기

In [9]:
# 리스트 더하기 
a = [1, 2, 3]
b = [4, 5, 6]
print(a + b)

[1, 2, 3, 4, 5, 6]

In [10]:
# 리스트 반복하기 
a = [1, 2, 3]
print(a * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [11]:
# 리스트 길이 구하기 (len 함수는 문자열, 리스트, 튜플, 딕셔너리에 사용 가능)
a = [1, 2, 3]
len(a)

3

In [13]:
a = [1, 2, 3]
str(a[2]) + "hi"

'3hi'

# 리스트의 수정과 삭제

In [14]:
# 리스트에서 값 수정하기 
a = [1, 2, 3]
a[2] = 4
print(a)

[1, 2, 4]

In [15]:
# del 함수 사용해 리스트 요소 삭제하기 
a = [1, 2, 3]
del a[1]
print(a)

[1, 3]

In [16]:
a = [1, 2, 3, 4, 5]
del a[:2]
print(a)

[3, 4, 5]

# 리스트 관련 함수

In [17]:
# 리스트에 요소 추가 (append)
# append(x)는 리스트의 맨 마지막에 x를 추가하는 함수 
a = [1, 2, 3]
a.append(4)
print(a)

[1, 2, 3, 4]

In [19]:
a.append([5, 6])
print(a)

[1, 2, 3, 4, [5, 6]]

In [20]:
# 리스트 정렬 (sort) 
# 리스트의 요소를 순서대로 정렬하는 함수 
a = [1, 4, 3, 2]
a.sort()
print(a)

[1, 2, 3, 4]

In [21]:
a = ['a', 'c', 'b']
a.sort()
print(a)

['a', 'b', 'c']

In [22]:
# 리스트 뒤집기 (reverse) 
# reverse 함수는 리스트를 역순으로 뒤집어줌 
a = ['a', 'c', 'b']
a.reverse()
print(a)

['b', 'c', 'a']

In [23]:
# 위치 반환 (index) 
# index(x) 함수는 리스트에 x값이 있으면 x의 위치 값을 돌려줌 
a = [1, 2, 3]
print(a.index(3))
print(a.index(1))
# 존재하지 않는 값은 오류 발생

2
0

In [24]:
# 리스트에 요소 삽입 (insert)
# insert(a, b)는 리스트의 a번째 위치에 b를 삽입하는 함수
a = [1, 2, 3]
a.insert(0, 4)
print(a)

[4, 1, 2, 3]

In [25]:
a.insert(3, 5)
print(a)

[4, 1, 2, 5, 3]

In [26]:
# 리스트 요소 제거 (remove)
# remove(x)는 리스트에서 첫번째로 나오는 x를 삭제하는 함수 
a = [1, 2, 3, 1, 2, 3]
a.remove(3)
print(a)

[1, 2, 1, 2, 3]

In [27]:
a.remove(3)
print(a)

[1, 2, 1, 2]

In [30]:
# 리스트 요소 끄집어내기 (pop)
# pop()은 리스트의 맨 마지막 요소를 돌려주고 그 요소는 삭제한다. 
# pop(x)는 리스트의 x번째 요소를 돌려주고 그 요소는 삭제한다. 
a = [1, 2, 3]
print(a.pop())
print(a)

3
[1, 2]

In [31]:
a = [1, 2, 3]
print(a.pop(1))
print(a)

2
[1, 3]

In [32]:
# 리스트에 포함된 요소 x의 개수 세기 (count)
a = [1, 2, 3, 1]
a.count(1)

2

In [33]:
# 리스트 확장 (extend)
# extend(x)에서 x에는 리스트만 올 수 있으며 원래의 a 리스트에 x 리스트를 더하게 된다.
a = [1, 2, 3]
a.extend([4, 5])
print(a)
b = [6, 7]
a.extend(b)
print(a)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7]