<a href="https://colab.research.google.com/github/seo0501/python-study/blob/main/02.%EC%9E%90%EB%A3%8C%ED%98%95/02_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

튜플은 몇 가지 점을 제외하고는 리스트와 거의 비슷하다.  
- 리스트는 []로 둘러싸지만 튜플은 ()으로 둘러싼다.  
- 리스트는 그 값의 생성, 삭제, 수정이 가능하지만 ***튜플은 그 값을 바꿀 수 없다.***  
- 1개의 요소만을 가질 때에는 요소 뒤에 콤마(,)를 반드시 붙여야한다.  
- 요소가 여러개일때 괄호()를 생략해도 무방하다.

In [ ]:
t1 = ()
t2 = (1,)
t3 = (1, 2, 3)
t4 = 1, 2, 3
t5 = ('a', 'b', ('ab', 'cd'))

In [1]:
# 인덱싱 하기 
t1 = (1, 2, 'a', 'b')
print(t1[0])
print(t1[3])

1
b

In [2]:
# 슬라이싱 하기 
t1 = (1, 2, 'a', 'b')
print(t1[1:])

(2, 'a', 'b')

In [3]:
# 튜플 더하기
t2 = (3, 4)
print(t1 + t2)

(1, 2, 'a', 'b', 3, 4)

In [4]:
# 튜플 곱하기
print(t2 * 3)

(3, 4, 3, 4, 3, 4)

In [5]:
# 튜플 길이 구하기 
t1 = (1, 2, 'a', 'b')
print(len(t1))

4

In [6]:
a = (1, 2, 3)
b = (4,)
print(a + b)

(1, 2, 3, 4)