<a href="https://colab.research.google.com/github/seo0501/python-study/blob/main/02.%EC%9E%90%EB%A3%8C%ED%98%95/02_6_%EC%A7%91%ED%95%A9_%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 집합 자료형은 어떻게 만들까?

In [1]:
# set()의 괄호 안에 리스트 입력하여 만들기
s1 = set([1, 2, 3])
s1

{1, 2, 3}

In [2]:
# set()의 괄호 안에 문자열 입력하여 만들기
s2 = set("Hello")
s2

{'H', 'e', 'l', 'o'}

# 집합 자료형의 특징



*   중복을 허용하지 않는다. 
*   순서가 없다. (딕셔너리도)

In [3]:
s1 = set([1, 2, 3])
l1 = list(s1)   # 리스트로 변환
print(l1)
print(l1[0])
t1 = tuple(s1)  # 튜플로 변환
print(t1)
print(t1[0])

[1, 2, 3]
1
(1, 2, 3)
1

# 교집합, 합집합, 차집합 구하기

In [4]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])
print(s1 & s2)
print(s1.intersection(s2))

print(s1 | s2)
print(s1.union(s2))

print(s1 - s2)
print(s2 - s1)
print(s1.difference(s2))
print(s2.difference(s1))

{4, 5, 6}
{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{8, 9, 7}
{1, 2, 3}
{8, 9, 7}

# 집합 자료형 관련 함수

In [5]:
# 값 1개 추가하기 (add)
s1 = set([1, 2, 3])
s1.add(4)
print(s1)

{1, 2, 3, 4}

In [6]:
# 값 여러 개 추가하기 (update)
s1 = set([1, 2, 3])
s1.update([4, 5, 6])
print(s1)

{1, 2, 3, 4, 5, 6}

In [7]:
# 특정 값 제거하기 (remove)
s1 = set([1, 2, 3])
s1.remove(2)
print(s1)

{1, 3}