<a href="https://colab.research.google.com/github/seo0501/python-study/blob/main/02.%EC%9E%90%EB%A3%8C%ED%98%95/2%EC%9E%A5_%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 80
b = 75
c = 55
sum = a + b + c
print(f'평균 점수는 {sum / 3}입니다.')

평균 점수는 70.0입니다.

In [1]:
subject = {'국어':80, '영어':75, '수학':55}
sum(subject.values()) / len(subject)

70.0

In [ ]:
a = 13 / 2
print('13은 홀수인가?') 
bool(a)

13은 홀수인가?

True

In [ ]:
pin = '881120-1068234'
yyyymmdd = pin[:6]
num = pin[7:]
print(yyyymmdd)
print(num)

881120
1068234

In [ ]:
pin = '881120-1068234'
print(pin[7])

1

In [ ]:
a = 'a:b:c:d'
b = a.replace(':', '#')
print(b)

a#b#c#d

In [ ]:
a = [1, 3, 5, 4, 2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [ ]:
a = ['Life', 'is', 'too', 'short']
result = " ".join(a)
print(result)

Life is too short

In [ ]:
a = (1, 2, 3)
a = (1, 2, 3, 4)
print(a)

(1, 2, 3, 4)

In [ ]:
a = dict()
a

{}

In [ ]:
a['name'] = 'python'
a[('a',)] = 'python'
a[[1]] = 'python' # 딕셔너리의 Keys 값에 리스트는 들어갈 수 없음 
a[250] = 'python'

TypeError: ignored

In [ ]:
a = {'A':90, 'B':80, 'C':70}
result = a.pop('B')
print(a)
print(result)

{'A': 90, 'C': 70}
80

In [ ]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
aSet = set(a)
b = list(aSet)
print(b)

[1, 2, 3, 4, 5]

In [ ]:
a = b =[1, 2, 3]
a[1] = 4
print(b)

[1, 4, 3]