<a href="https://colab.research.google.com/github/seo0501/python-study/blob/main/03.%EC%A0%9C%EC%96%B4%EB%AC%B8/03_3_for%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# for문의 기본 구조

**for** 변수 **in** 리스트(또는 튜플, 문자열):  
  수행할 문장1  
  수행할 문장2  
  ...

In [1]:
# 전형적인 for문
test_list = ['one', 'two', 'three']
for i in test_list:
  print(i)

one
two
three

In [2]:
# 다양한 for문의 사용
a = [(1, 2), (3, 4), (5, 6)]
for (first, last) in a:
  print(first + last)

3
7
11

In [3]:
# for문의 응용
marks = [90, 25, 67, 45, 80]
number = 0
for mark in marks:
  number = number + 1
  if mark >= 60:
    print("%d번 학생은 합격입니다." %number)
  else:
    print("%d번 학생은 불합격입니다." %number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

# for문과 continue문

In [4]:
marks = [90, 25, 67, 45, 80]
number = 0
for mark in marks:
  number = number + 1
  if mark < 60: continue
  print("%d번 학생 축하합니다. 합격입니다." %number)

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

# for문과 함께 자주 사용하는 range 함수

In [5]:
a = range(10)
a

range(0, 10)

In [6]:
add = 0
for i in range(1, 11):
  add = add + i
print(add)

55

In [8]:
marks = [90, 25, 67, 45, 80]
number = 0
for number in range(len(marks)):
  if marks[number] < 60: continue
  print("%d번 학생 축하합니다. 합격입니다." %(number + 1))

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [9]:
add = 0
for i in range(1, 101):
  add = add + i
print(add)

5050

In [10]:
for i in range(2, 10):
  for j in range(1, 10):
    print(i * j, end = " ") # 매개변수 end: 해당 결괏값을 출력할 때 다음 줄로 넘기지 않고 그 줄에 계속해서 출력하기 위함 
  print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

# 리스트 내포 사용하기

[표현식 for 항목 in 반복 가능 객체 if 조건]  

[표현식 for 항목 in 반복 가능 객체 if 조건1  
       for 항목 in 반복 가능 객체 if 조건2  
       ...  
       for 항목 in 반복 가능 객체 if 조건n]

In [11]:
a = [1, 2, 3, 4]
result = []
for num in a:
  result.append(num * 3)
print(result)

[3, 6, 9, 12]

In [12]:
a = [1, 2, 3, 4]
result = [num * 3 for num in a]
print(result)

[3, 6, 9, 12]

In [13]:
a = [1, 2, 3, 4]
result = [num * 3 for num in a if num % 2 == 0]
print(result)

[6, 12]

In [14]:
result = [x * y for x in range(2, 10)
          for y in range(1, 10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]